<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="plays" content="{{ plays }}">
    <title>Profile</title>
</head>
<body>
    <div class="container">
        <h1>Profile</h1>

        {% if plays %}

            <h2>Plays</h2>

            <div id="time-select">
                <a href="?filter=week">Last Week</a>
                <a href="?filter=month">Last Month</a>
                <a href="?filter=year">Last Year</a>
                <a href="?filter=all">All Time</a>
            </div>

            <ul>
                {% for play in plays %}
                    <li> 
                        {{ play.word_guessed }} - {{ play.is_win|yesno:"Win,Loss" }}
                        {% if play.is_win %} (in {{ play.attempts }} attempts) {% endif %}
                        on {{ play.date_played|date:"Y-m-d H:i" }}
                    </li>
                {% endfor %}
            </ul>

        {% endif %}

        <a href="{% url 'game:home' %}">Home</a>
    </div>
    <script>
        plays = document.querySelector('[name=plays]').content;
        function filterPlays(timeframe) {
            if(timeframe === 'Last Week') {
                plays = plays.filter(play => {
                    const playDate = new Date(play.date_played);
                    const now = new Date();
                    const oneWeekAgo = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 7);
                    return playDate >= oneWeekAgo && playDate <= now;
                });
            } else if (timeframe === 'Last Month') {
                // Filter plays from the last 30 days
            } else if (timeframe === 'Last Year') {
                // Filter plays from the last 365 days
            } else {
                // Show all plays
            }
        }
    </script>
</body>
</html>